# REST Test file
*.http

# ENV File
.env.*
config.*
!config.example.*

# Caches
.eslintcache

# Compiled output
/dist
/node_modules
tsconfig.build.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
src/api/task/workers/publisher/provider/github.publisher.provider.spec.ts
src/api/task/workers/publisher/publisher-workers.service.spec.ts
src/api/task/workers/dns/provider/cloudflare.dns.provider.spec.ts
src/api/task/workers/dns/dns-workers.service.spec.ts
